* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
:root {
    --background: #1F1C1C;
    --text_main: white;
    --sec_text: rgba(255, 255, 255, 0.25);
    --color_second: rgba(0, 187, 255, 0.75);
    --user_color: orange;
}
body {
    background-color: var(--background);
    color: var(--text_main);
    font-family: 'Work Sans';
    font-size: 22px;
    font-weight: 900;
    gap: 1rem;
}
.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav_bar {padding: 2rem;}
.title {
    font-size: 2rem;
    color: var(--color_second);
}
.main_section {
    gap: 2rem;
    border: 2px solid var(--sec_text);
    border-radius: 8px;
    padding: 2rem;
}
.input_style {
    font-size: 1rem;
    padding: 1rem 1.25rem;
    border-radius: 12px;
    border: 3px solid var(--text_main);
    background-color: transparent;
    color: var(--text_main);
    font-weight: 600;
}
.response_div {
    height: 50vh;
    overflow-y: auto;
    scrollbar-color: var(--color_second) var(--background);
    scrollbar-width: thin;
    gap: 1rem;
}
.chat_div {
    display: flex;
    width: full;
}
.avatar {
    height: 2.5rem;
    width: 2.5rem;
    margin: 0.25rem;
    border-radius: 50%;
    justify-content: center;
}
.user_av { background-color: var(--user_color); }
.gem_av { background-color: var(--color_second); }
.chat {
    padding: 1rem;
    border: 1px solid var(--sec_text);
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 100;
    gap: 1rem;
    max-width: 75%;
}
.gemini_response {
    gap: 1rem;
    align-self: start;
}
.user_question {
    gap: 1rem;
    align-self: end;
}
.submit_btn { 
    background-color: var(--color_second); 
    border-color: var(--color_second);
    color: var(--background);
}