* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
:root {
    --background: #1F1C1C;
    --text_main: white;
    --sec_text: rgba(255, 255, 255, 0.5);
}
body {
    background-color: var(--background);
    color: var(--text_main);
    font-family: 'Work Sans';
    font-size: 22px;
    font-weight: 900;
    gap: 1rem;
}
.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav_bar {padding: 2rem;}
.title {font-size: 2rem;}
.main_section {
    gap: 2rem;
    border: 2px solid var(--sec_text);
    border-radius: 8px;
    padding: 2rem;
}
.input_style {
    font-size: 1rem;
    padding: 1rem 1.25rem;
    border-radius: 8px;
    border: 3px solid var(--text_main);
    background-color: transparent;
    color: var(--text_main);
}
.response_div {
    height: 50vh;
}
.gemini_says {
    font-size: 1.25rem;
    font-weight: 400;
}
.gemini_response {
    gap: 1rem;
    font-size: 1rem;
    font-weight: 100;
}