<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Ask Gemini</title>
</head>
<body class="col">
    <nav class="nav_bar">
        <a href="/" class="title">Ask Gemini</a></nav>
    <section class="main_section col" style="width: 800px;">
        <div class="response_div">
            <p class="gemini_response" id="response">{{answer|safe}}</p></div>
            <p class="gemini_response" id="response">{{ask|safe}}</p></div>
        <form action="/ask" method="POST" style="width: full;">
            <input type="text" name="ask" id="" placeholder="Your question for Gemini..." class="input_style">
            <input type="submit" value="ask" class="input_style"></form></section>
    <script>
        const jsonBreak = document.getElementById("response").innerHTML
        const newLine = jsonBreak.replace('<br>', '\n')

        console.log(jsonBreak)
    </script>
</body>
</html>